#box {
    height: 50%;
    border: 2px dashed green;
    margin: 50px;
}

a {
    color: #b8f3ff;
}
a:hover {
    color: #5cc8ff;
    text-transform: uppercase;
    text-decoration: none;
}

body {
    font-family: 'PT Sans', sans-serif;
    height: 100vh;
    overflow: hidden;
    background: rgb(184,243,255);
    background: linear-gradient(0deg, rgba(184,243,255,1) 0%, rgba(92,200,255,1) 65%, rgba(32,129,195,1) 100%);
}
.button-white {
    background-color: transparent;
    color: white;
    border-color: white;
    border-width: 3px;
}
.button-white:hover {
    background-color: white;
    color: #5cc8ff;
}

.card {
    min-height: 375px;
    min-width: 300px;
    margin: 2vh;
}

#cardUploading {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("./upload.png");
}

#cardSearch {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("./search_2.png");
}

.cardUploaded {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.mainContainer {
    max-height: 100vh;
}
